/* semantic */
@import url('~semantic-ui-css/components/button.css');
@import url('~semantic-ui-css/components/container.css');
@import url('~semantic-ui-css/components/segment.css');


$iSpacing: 16px;

$iElevationProfileHeight: 200px;
$iTimelineSidebarWidth: 0px;

body { margin:0; padding:0;  }

.app {
	color: black;
}

.home-container {
	padding-top: 30%;
}


.sidebar-container {
	position: absolute; top:0; bottom:0; left:0;
	width: $iTimelineSidebarWidth;
	background: green;
}

.elevation-profile-container {
	position: absolute; bottom:0; right:0; left:$iTimelineSidebarWidth;
	height: $iElevationProfileHeight;
}

.map-container{
	position: absolute; top:0; bottom:$iElevationProfileHeight; right:0; left: $iTimelineSidebarWidth;
}
.floating-map-button {
	z-index: 1000;
	padding: $iSpacing;
	background-color: white;
	border-radius: $iSpacing;
	position: absolute;
	top: $iSpacing;
	right: $iSpacing;
}